// STYLES

$font-fam-sans: 'Source Sans Pro', sans-serif;
$font-fam-serif: 'Alice', serif;

$font-size-sm: 13px;
$font-size-md: 15px;
$font-size-lg: 36px;

$font-weight-b: 700;
$font-weight-r: 400;


// COLORS
$colors:(
	purple: #44334A,
	green: #125B4D,
	white: #FFFFFF,
	//gray: #DBDBDB,
);

//RESPONSIVE
$breakpoints: (
	tablet: 425px + 1px,
	desktop: 768px + 1px
);

@function color($name){
	@return map-get($colors, $name);
}

// lAYOUT

$sizes: (
	sm: 5px,
	md: 26px,
	lg: 30px,
	xl: 50px,
);

$sides:(
	t: top,
	b: bottom,
	l: left,
	r: right,
);

