@import 'globals';

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	font-family: $font-fam-sans;
	font-size: $font-size-md;
	color: color(purple);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}


ul {
	list-style-type: none;
	padding-left: 0;
}

a {
	color: inherit;
	margin: 0;
	outline: none;
}

a img {
	outline: none;
}

hr {
	max-width: 350px;
	border-top: 1px solid color(green);
}


.nav {
	position: absolute;
	transform: translate(-50%, 50%);
	white-space: nowrap;
}

.nav__icon {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: bottom;
	position: relative;

	.nav__icon--regular {
		display: initial;
	}
	.nav__icon--hover, .nav__hoverText {
		display: none;
	}
}

.nav__icon:hover {
	.nav__icon--regular {
		display: none;
	}
	.nav__icon--hover, .nav__hoverText {
		display: initial;
	}
}

.nav__hoverText {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	left: 50%;
	transform: translate(-50%, 175%);
	opacity: 0.3;
}

.tagDescription{
	display: flex;
	justify-content: center;
}

.tagDescription_p{
	width: 350px;
}

.teaList {
	display: flex;
	flex-wrap: wrap;
	max-width: 1080px;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.teaPreview {
	width: 300px;
	z-index: 1;
}

.teaPreview__imagePrimary{
	z-index: 100;
	position: absolute;
	right: 0;
	top: 90px;
	width: 250px;
}

.teaPreview__imageSecondary{
	z-index: 90;
	position: absolute;
	opacity: 0.2;
	width: 200px;
}

.teaPreview__copyBlock{
	padding-top: 210px;
	z-index: 200;
	position: relative;
}

.teaOverview__copyBlock--italic {
	font-family: 'Crimson Text';
	font-style: 400i;
}

a.teaPreview__link{
	text-decoration: none;
}


.teaOverview {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.teaOverview__imageBlock{
 	position: relative;
	min-height: 250px;
	height: 75vw;
}

.teaOverview__copyBlock{
	
}

.teaOverview__imageBlock--imagePrimary{
	position: absolute;
	z-index: 1;
	max-width: 60%;
	max-height: 45%;
	right: 20%;
	bottom: 0;
}

.teaOverview__imageBlock--imageSecondary{
	position: absolute;
	z-index: 2;
	right: 10%;
	max-width: 65%;
	max-height: 70%;
}

.teaOverview__imageBlock--imageTertiary{
	position: absolute;
	max-width: 80%;
	max-height: 100%;
	opacity: 0.5;
	z-index: 0;
}

// Once we reach tablet width, then start applying these styles
@media (min-width: map-get($breakpoints, desktop)) {
	.teaOverview {
		flex-direction: row;
	}
	.teaOverview__imageBlock {
		order: 2;
		width: 400px;
		max-height: 500px;
	}
	.teaOverview__copyBlock {
		order: 1;
		max-width: 360px;
	}
	.teaOverview__imageBlock--imagePrimary{
	max-width: 65%;
	max-height: 100%;
	right: 20%;
	bottom: 0;
}

.teaOverview__imageBlock--imageSecondary{
	max-width: 65%;
	max-height: 70%;
	right: 0;
	bottom: 30%;
}


}



.index_containerFlex{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.index_content {
	// Flexbox child stuff
	flex-grow: 1;
	// Flexbox parent stuff
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

footer{
	background: color(green);
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
}


.getStarted {
	opacity: 0.3;
	text-align: center;
}

.getStarted__img{
	width: 100%;
	max-width: 260px;
}