<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Mood to Brew{% endblock title %}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="{{ config.base_url | safe }}utils.css">
		<link rel="stylesheet" href="{{ config.base_url | safe }}main.css">
		<link href="https://fonts.googleapis.com/css?family=Alice|Crimson+Text:400i,600i|Source+Sans+Pro:400,700" rel="stylesheet"> 


	</head>
	<body>
		<div class="index_containerFlex">
			{% block header %}
			<header class="bg-purple white p-v-md p-b-xl t-center">
				<h1 class="f-md">Discover your perfect brew.</h1>
				<h2 class="f-serif f-lg f-reg">What's your mood?</h2>

				<nav class="nav bg-green in-block p-v-sm p-h-sm--tablet">
					{% for tag in config.extra.tags %}
						<a href="{{ config.base_url | safe }}tags/{{ tag.name }}" class="nav__icon m-h-sm">
							<img src="{{ config.base_url | safe }}img/{{ tag.name }}.png" width="40" height="40" class="nav__icon--regular">
							<img src="{{ config.base_url | safe }}img/{{ tag.name }}h.png" width="40" height="40" class="nav__icon--hover">
							<div class="nav__hoverText bg-purple white f-sm f-bold p-h-md p-v-sm">{{ tag.name }}</div>
						</a>
					{% endfor %}



				</nav>
			</header>
			
			{% endblock header %}

			{% block content %}
			
			<div class="index_content">
				<div>
					<h2 class="f-serif t-center f-lg purple f-reg">Get started</h2>
					<p class="t-center f-sm purple">Select a mood above to find your perfect brew list.</p>
					<div class="getStarted"><img src="{{ config.base_url | safe }}img/teacup_getstarted.png" class="getStarted__img"></div>
				</div>
			</div>
			{% endblock content %}
		</div>

		{% block footer %}
		<footer class="p-h-sm">
			<div class="white f-bold f-sm t-up p-t-lg t-trk">2018 | Design + Dev by Ruth Reyer > <a target="_blank" href="https://twitter.com/ruthmichaellla">Available for hire</a></div>
			<div><p class="white f-sm p-b-md">Images and illustration from various sources. This site is for illustrative purposes only. Speak with a doctor before adding herbal tea to your diet.</p></div>
		</footer>
		{% endblock footer %}

	</body>

</html>